@inject SignInManager<Usuario> singInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Foro-D</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
               
                <div class="navbar-header">
                    <div class="navbar-header pull-left">
                        <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                            <img src="~/Imagen/logo.png" alt="Site Logo" style="height:60px; width: 70px" />
                        </a>
                    </div>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("FORO-D", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">


                        @if (singInManager.IsSignedIn(User))
                        {
                            if (User.IsInRole("Miembro"))
                            {
                                <li class="btn btn-outline-secondary btn-light m-1">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="btn btn-outline-secondary btn-light m-1">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                </li>
                                <li class="btn btn-outline-secondary btn-light m-1">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="InformacionInstitucional"> Información institucional</a>
                                </li>
                                <li class="btn btn-outline-secondary btn-light m-1">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Miembros" asp-action="Index">Miembros</a>
                                </li>

                                <li class="btn btn-outline-secondary btn-light m-1">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Entradas" asp-action="Index">Entradas</a>
                                </li>

                                <li class="btn btn-outline-secondary btn-light m-1">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Entradas" asp-action="MisEntradas">Mis Entradas</a>
                                </li>

                                <li class="btn btn-outline-secondary btn-light m-1">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Entradas" asp-action="SolicitudesPendientes">Solicitudes Pendientes</a>
                                </li>

                                <li class="btn btn-outline-secondary btn-light m-1">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Categorias" asp-action="Details" asp-route-id="null">Categorías</a>
                                </li>
                             
                            }
                            else if (User.IsInRole("Usuario"))
                            {
                                <li class="btn btn-outline-secondary btn-light m-1">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Miembros" asp-action="Index">Miembros</a>
                                </li>
                                <li class="btn btn-outline-secondary btn-light m-1">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                                </li>
                                <li class="btn btn-outline-secondary btn-light m-1">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Entradas" asp-action="Index">Entradas</a>
                                </li>
                                <li class="btn btn-outline-secondary btn-light m-1">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Categorias" asp-action="Index">Cantidad De Entradas Por Categoría</a>
                                </li>
                                <li class="btn btn-outline-secondary btn-light m-1">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Categorias" asp-action="Details" asp-route-id="null">Categorías</a>
                                </li>
                                <li class="btn btn-outline-secondary btn-light m-1">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="CrearAdministrador">Crear Administrador</a>
                                </li>
                            }

                            <li>
                                <a class="btn btn-danger btn-sm text-white m-1" asp-area="" asp-controller="Account" asp-action="CerrarSesion">Cerrar sesion</a>
                            </li>
                        }
                        else
                        {

                            <li class="nav-item">
                                <a class="btn btn-warning btn-sm m-1" asp-area="" asp-controller="Account" asp-action="registrar">Registrar</a>
                            </li>

                            <li class="nav-item">
                                <a class="btn btn-success btn-sm text-white m-1" asp-area="" asp-controller="Account" asp-action="IniciarSesion">Iniciar sesion</a>
                            </li>

                            <li class="btn btn-outline-secondary btn-light m-1">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Categorias" asp-action="Details" asp-route-id="null">Categorías</a>
                            </li>

                        }
                    </ul>


                </div>
            </div>
            @if (singInManager.IsSignedIn(User))
            {
                <span id="nav-welcome">Bienvenido <b>@User.Identity.Name</b></span> if (User.IsInRole("Miembro"))
                                {
                <a class="nav-link text-primary font-weight-bold" asp-area="" asp-controller="Miembros" asp-action="Edit" asp-route-id=@Int32.Parse(User.Claims.First().Value)> -  Mi Perfil</a> }
                                else if (User.IsInRole("Usuario"))
                                {
                <a class="nav-link text-primary font-weight-bold" asp-area="" asp-controller="Usuarios" asp-action="Edit" asp-route-id=@Int32.Parse(User.Claims.First().Value)> -  Mi Perfil</a>}
             }
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - FORO_D - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>